.categories {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 63px;
    height: 63px;
    color: #0089d0;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid black;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .categories::-webkit-scrollbar {
    display: none;
  }
  
  .category-item {
    padding: 10px 15px;
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
  }
  
  .category-item:hover {
    border-top: 3px solid black;
  }
  

  h1 {
    color: red;
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  h1 img {
    height: 40px;
  }
  